# OSX folder information
.DS_store

# Picosat binaries
*picogcnf
*picomcs
*picomus
*picosat

# Build directory
build/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
